@charset "UTF-8";
/*
base
*/
body {
  background-color: #666;
}
.page-headline {
  font-size: 50px;
  text-align: center;
  background-color: #fff;
  width: 75%;
  margin: 10px auto;
  border-radius: 5px;
  border: double 5px #333;
}
/*
section
*/
.section {
  text-align: center;
  background-color: #fff;
  margin: 10px 50px;
}
.section-headline {
  font-size: 40px;
  background-color: #fff;
  border-radius: 5px;
}
/*
grid
*/
.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.grid4-4 {

}
.grid2-2 {}
.grid6-1 {}

/*
apartment
*/
.grid-apartment {
  background-color: #323273;
  margin: 10px 25%;
  border: solid 5px #333;
  padding: 20px;
}
.apartment {
  border: solid 2px #333;
  height: 60px;
  width: 20px;
  margin: 10px;
  width: calc(25% - 50px);
}
.apartment-light {
  background-color: #ffff00;
}
.apartment-dark {
  background-color: #666;
}