@charset "UTF-8";
/*
base
*/
body {
  background-color: #999;
}
.page-headline {
  font-size: 50px;
  text-align: center;
  background-color: #fff;
  width: 75%;
  margin: 10px auto;
  border-radius: 5px;
  border: double 5px #666;
}
/*
section
*/
.section {
  text-align: center;
  background-color: #fff;
  margin: 10px 50px;
}
.section-headline {
  font-size: 40px;
}
/*
grid
*/
.grid {}
.grid4-4 {}
.grid2-2 {}
.grid6-1 {}


.apartment {}